@charset "UTF-8";
body {
  background-color: #444;
  font-family: Roboto;
}

h2 {
  font-size: 40px;
  line-height: 45.6px;
}

a {
  text-decoration: none;
}

button {
  all: unset;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --font-base: Roboto;
  --color-white: #fff;
  --color-opacity-white: rgba(255, 255, 255, 0.42);
  --color-black: #000;
  --color-smoky-white: rgb(240, 250, 247);
  --color-wheat: rgb(247, 216, 191);
  --color-turquoise: rgb(134, 173, 182);
  --color-azure-blue: rgb(0, 84, 102);
  --color-light-blue: rgb(19, 192, 215);
  --color-red: rgb(213, 63, 35);
  --color-linen: rgb(252, 242, 240);
  --color-aqumarine: rgb(100, 186, 161);
  --color-dark-green: rgb(10, 100, 74);
  --color-orange: rgb(196, 123, 89);
  --color-gold: rgb(239, 150, 50);
}

/* Reset and base styles */
* {
  padding: 0;
  margin: 0;
  /* border не рекомендуется сбрасывать глобально */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  cursor: pointer; /* добавлено для интерактивности */
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h3,
h4,
h5,
h6,
p {
  font-size: inherit; /* можно задать конкретные размеры при необходимости */
  font-weight: inherit;
}

ul,
ol {
  list-style: none;
}

li {
  list-style-type: none; /* если нужно убрать маркеры у li */
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
  height: auto;
}

/* Address */
address {
  font-style: normal;
}

/* Form styles */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent; /* можно оставить или задать по умолчанию */
}

input::-ms-clear {
  display: none; /* скрывает крестик в IE/Edge */
}

button,
input[type=submit] {
  display: inline-block; /* можно оставить или использовать inline-flex/inline-grid при необходимости */
  box-shadow: none; /* убирает тень у кнопок в некоторых браузерах */
  background: none; /* убирает фон по умолчанию */
  cursor: pointer; /* добавлено для интерактивности */
}

input[type=file] {
  max-width: 100%;
}

/* Фокус и активное состояние формы */
input[type=text]:focus,
textarea[type=text]:focus,
button[type=button]:focus,
select:focus {
  outline: none; /* можно добавить стили фокуса для доступности */
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.fixed {
  position: fixed; /* фиксирует элемент относительно окна */
  width: 100%; /* растянуть по всей ширине */
  z-index: 1000;
}

.displayInline {
  display: inline;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 767.98px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 767.98px) {
  .visible-mobile {
    display: none !important;
  }
}

.header__inner {
  background-color: var(--color-turquoise);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 45px 26px 45px;
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.header__menu-item {
  display: inline;
}
.header__menu-link {
  font-size: 14px;
  color: var(--color-black);
  text-transform: uppercase;
}
.header__menu-link:hover {
  text-decoration: underline;
}

.hero__main {
  background-image: url(../../images/Rectangle-defoult.svg);
  background-repeat: no-repeat;
  background-size: auto;
}
.hero__body {
  padding: 180px 0px 360px 115px;
}
.hero__title {
  color: var(--color-white);
  font-size: 55px;
  font-weight: 700;
  line-height: 59.95px;
}
.hero__description {
  color: var(--color-white);
  padding-top: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.hero__button {
  height: 48px;
  width: 256px;
  margin-top: 25px;
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 2px;
  text-transform: uppercase;
}

.spacer {
  position: relative;
  height: 189px;
  background-color: var(--color-smoky-white);
}

.mental-game__main-inner {
  width: 650px;
  padding-top: 40px;
  padding-bottom: 49px;
}
.mental-game__header-inner {
  text-align: center;
  padding-top: 79px;
  padding-bottom: 14px;
}
.mental-game__title {
  font-weight: 700;
  line-height: 45.6px;
}
.mental-game__suptitle {
  padding-top: 25px;
  font-size: 20px;
  font-weight: 400;
  line-height: 31.2px;
}

.section-wrapper {
  display: grid;
  place-items: center;
  background-color: var(--color-white);
}

.function-shop__inner {
  display: flex;
  justify-content: center;
}
.function-shop__main-inner {
  padding-bottom: 20px;
}
.function-shop__header-inner {
  text-align: center;
}
.function-shop__title {
  padding-bottom: 20px;
}
.function-shop__suptitle {
  padding-bottom: 47px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.4px;
}

.function-shop__row {
  height: 250px;
  width: 918px;
  display: flex;
  gap: 24px;
}
.function-shop__column {
  height: 250px;
  width: 290px;
  text-align: center;
}

.item-function-shop__icon {
  padding-top: 40px;
  padding-bottom: 37px;
}
.item-function-shop__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.1px;
  text-transform: uppercase;
}
.item-function-shop__button {
  height: 36px;
  width: 182px;
  border: 2px solid rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  color: var(--color-black);
  margin: 42px 54px;
}
.item-function-shop__button-inner {
  padding: 8px 58px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}

/*# sourceMappingURL=main.css.map */
