@use '../helpers/' as *;

.cookies {
	position: relative;
	bottom: 123px;
	width: 1440px;
	height: 72px;
	background-color: var(--color-black);
	display: flex;
	align-items: center;

	&__text {
		display: inline;
		color: var(--color-white);
		padding-left: 29px;
		margin: 0;
		font-style: 16px;
		line-height: 24px;

		&-link {
			padding-left: 19px;
			color: var(--color-white);

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__button {
		@include rectangle(167px, 40px);

    position: absolute;
    right: 29px;
    background-color: var(--color-white);
    border-radius: 5px;

    text-align: center;
	}
}
