@use '../helpers/' as *;

.header {

	&__inner {
		background-color: var(--color-turquoise);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 26px 45px 26px 45px;
	}

	&__menu {
		&-list {
			display: flex;
			align-items: center;
			column-gap: 40px;
		}

		&-item {
			display: inline;
		}

		&-link {
			font-size: 14px;
			color: var(--color-black);
      text-transform: uppercase;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
