@use 'helpers' as *;

.container {
	max-width: 1440px;
	margin: 0 auto;
}

.section-header-underline-button {
	position: relative;
	height: 28px;
	text-transform: uppercase;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 16.96px;

	@include hover {
		&::after {
			transform: scaleX(140%);
		}
	}

	&::after {
		content: '';
		position: absolute;
		top: 100%;
		left: 50%;
		translate: -50%;
		width: 100%;
		height: 2px;
		background-color: currentColor;
		transform-origin: left;
		transition-duration: inherit;
	}
}

.header-title-padding-bottom {
	padding-bottom: 25px;
}

.section-header-button {
	@include rectangle(260px, 52px);
	border-radius: 2px;
	text-align: center;
	text-transform: uppercase;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 700;
	line-height: 14.84px;
	letter-spacing: 0%;
}

.color-btn {
	@include square(20px);
	border: 1px solid rgb(255, 255, 255);
}

.suptitle {
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0%;
}

.titleBig {
	font-family: Roboto;
	font-size: 55px;
	font-weight: 400;
	line-height: 62.7px;
	letter-spacing: 0%;
}

.titleSmall {
	font-family: Roboto;
	font-size: 40px;
	font-weight: 400;
	line-height: 45.6px;
	letter-spacing: 0%;
}

.fixed {
	position: fixed; /* фиксирует элемент относительно окна */
	width: 100%; /* растянуть по всей ширине */
	z-index: 1000;
}

.displayInline {
	display: inline;
}

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}

.hidden-mobile {
	@include mobile {
		display: none !important;
	}
}

.visible-mobile {
	@include mobile-above {
		display: none !important;
	}
}
